@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,300;1,500&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&family=Sen:wght@413&display=swap');

*{
    padding: 0;
    margin: 0;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: linear-gradient(to right, white, #f7e1e6);
    position: sticky;
  }
  
  .logo img {
    max-width: 100px; /* Adjust as needed */
    margin-left: 10rem;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin-right: 27rem;
    font-family: "Poppins";
    font-size: larger;
    font-weight: 500;
  }
  
  nav ul li {
    display: inline;
    margin-right:8rem;
  }
  
  nav ul li:last-child {
    margin-right: 0;
  }
  
  nav ul li a {
    text-decoration: none;
    color: gray;
   
    transition: color 0.3s ease;
  }
  nav ul li a:hover{
    color: black;
  }
  /* ///////// /////////////////////////////////////////// */
  .home-section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  .home-section h1{
    margin-top: 1rem;
  }
  .home-section::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(""), url('https://www.maxlab.co.in/category/1668163497.jpg'), url('https://cdn.cdnparenting.com/articles/2018/06/604597520-h.jpg'); /* Add your image URLs here */
    background-size: 100% 100%;
    animation: smoothBackground 30s infinite linear; /* Adjust timing function */
  }
  
  /* @keyframes smoothBackground {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-66.666%);
    }
  } */
  
  .left-content {
    position: relative;
    width: 50%;
    z-index: 1;
    margin: 12rem
  }
  .left-content h1{
    font-size: 2rem;
  }
  .red-header {
    color: #FFAFBD;  /* fallback for old browsers */
 color: -webkit-linear-gradient(to right, #ffc3a0, #e197a3);  /* Chrome 10-25, Safari 5.1-6 */
    color: linear-gradient(to right, #ffc3a0, #FFAFBD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
     
    /* font-size: 88px; */
    margin-bottom: 33px;
    font-family: "Poppins";
    font-size: 39px;
    margin-top: 2rem;
  }
  
  p {
    font-size: 16px;
    margin-bottom: 30px;
    font-family: "Poppins";
    font-size: larger;
  }
  
  button {
    padding: 16px 37px;
    background: #FFAFBD;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ffc3a0, #FFAFBD);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ffc3a0, #FFAFBD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: white;
    border: none;
    
    cursor: pointer;
    font-family: "Poppins";
    font-size: larger;
    margin-right: 5rem;
  }
  button:hover{
    background-color: rgb(201, 150, 158);
  }
  .covid-info {
    display: flex; /* Make the div container use flexbox */
    align-items: center; /* Align content vertically */
    justify-content: space-between; /* Distribute content with space between */
    padding: 10px 20px; /* Add padding for spacing */
    border: 1px solid rgb(156, 78, 156); /* Add a border */
    background-color: #6c82af;
    color: white;
  }
  
  .covid-info p {
    margin-left: 16rem;
    margin-top: 2rem; /* Remove default margin for better alignment */
    color: white;
    font-size: 20px;
    font-weight: 400;
    
  }
.covid-info button{
  margin-right: 12rem;
  background: #FFAFBD;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ffc3a0, #FFAFBD);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ffc3a0, #FFAFBD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  
}
.covid-info a{
  text-decoration: none;
  color: white;
}
/* //////////////////////////////////////////////// */



.grid-container {
  background-image: url('image_04.jpg');
    background-size: cover;
    /* background-position: center; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px; /* Adjust spacing between columns */
  margin:1px; /* Add margin around the grid */
  text-align: center; /* Center align heading and paragraph */
  padding: 40px;
}

.centered-heading {
  grid-column: 1 / -1; /* Span all columns */
  margin: 40px;
  font-size: 35px;
 
  
    text-align: center;
    color: #868484; /* Set text color to contrast with background */
    position: relative;
}
.centered-heading::after {
  content: ''; /* Required for pseudo-element */
  position: absolute;
  bottom: -5px; /* Position the underline below the text */
  left: 50%; /* Center the underline horizontally */
  width: 100px; /* Set the width of the underline */
  height: 3px; /* Set the height (thickness) of the underline */
  background-color: #FFAFBD; /* Set the pink color */
  transform: translateX(-50%); /* Center the underline horizontally */
}

.centered-paragraph {
  grid-column: 1 / -1;
    margin-left: 277px;
    margin-right: 250px;
}

.item-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #f0f0f0;
  margin-bottom: 15px;
}

.circle img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
}

.text h3 {
  margin: 23px;

  font-family: "Poppins";

}

.text p {
  margin: 2px;

  color: #666;
  font-family: "Poppins";
}
